//fonts ********************************************************
$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;
$light: 400;
$normal: 600;
$bold: 700;

//colors ******************************************************
$primary-soft: hsl(243, 86%, 85%);
$primary-dark: hsl(243, 87%, 12%);
$accent: hsl(163, 95%, 43%);
$neutral-light: hsl(106, 0%, 98%);
$neutral-gray: hsl(0, 0%, 50%);
$neutral-dark: hsl(0, 0%, 17%);
//*************************************************************

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $open-sans;
  font-size: 1.1em;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  background-image: url("/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 65%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  ;

  .logo img {
    width: 100px;
  }
  .navbar__btn {
    border: none;
    border-radius: 2px;
    color: $neutral-light;
    font-size: 1rem;

    padding: 8px;
    &.--green {
      background-color: $accent;
      width: 90px;
    }
    &.--transp {
      background-color: transparent;
      width: 80px;
    }
  }





}
